<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
</head>
<body>
    <h1>게시글 조회</h1>
    <form action="" method="post">
        <table border="1">
            <tr>
                <th>제목</th>
                <td>
                    <input type="text" name="title" th:value="${board.title}" readonly>
                </td>
            </tr>
            <tr>
                <th>작성자</th>
                <td>
                    <input type="text" name="writer" th:value="${board.writer}" readonly>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="content" rows="5" cols="40" th:text="${board.content}" readonly></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" th:onclick="update()">수정</button>
                    <button type="button" onclick="location.href='/board/list'">목록</button>
                </td>
            </tr>
        </table>

        <script>
            // 수정 화면 이동
            function update() {
                let no = "[[${board.no}]]"
                location.href = "/board/update?no=" + no
            }
            </script>
    
</body>
</html>