<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.aloha.test_board.mapper.BoardMapper">


<!-- 목록 -->
<select id="list" resultType="Board">
        SELECT *
        FROM board
          LIMIT #{page.index}, #{page.rows}
</select>

<!-- 조회 -->
<select id="select" resultType="Board">
    SELECT *
    FROM board
    WHERE no = #{no}
</select>

<!-- 등록 -->
<insert id="insert" useGeneratedKeys="true" keyProperty="no">
    INSERT INTO board ( title, writer, content)
    VALUES ( #{title}, #{writer}, #{content} )
</insert>

<!-- 수정 -->
<update id="update" >
    UPDATE board
        SET title = #{title}
            ,writer = #{writer}
            ,content = #{content}
            ,updated_at = now()
    WHERE no = #{no}        
</update>

<!-- 삭제 -->
<delete id="delete">
    DELETE FROM board
    WHERE no = #{no}
</delete>


 <!-- 데이터 개수 -->
    <select id="count" resultType="int">
        SELECT COUNT(*)
          FROM board
        WHERE 
            <if test="option.code == 0">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
                OR content LIKE CONCAT('%', #{option.keyword}, '%') 
            </if>
            <if test="option.code == 1">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                content LIKE CONCAT('%', #{option.keyword}, '%') 
            </if>
            <if test="option.code == 3">
                    title LIKE CONCAT('%', #{option.keyword}, '%')
                OR content LIKE CONCAT('%', #{option.keyword}, '%') 
            </if>
            <if test="option.code == 4">
            </if>
    </select>

</mapper>